body {
	background-color: #ffe7f8;
	font: 1.2em monospace;
	padding-left: 2em;
	padding-right: 2em;
}

header {
	background-color: white;
	text-align: center;
	border: solid;
}

header a {
	color: black;
	text-decoration: none;
}

nav a {
	border: solid;
	padding: 1em;
	display: inline-block;
}

h1 {
	text-align: center;
}

a {
	color: blue;
}

img {
	float: right;
	margin-left: 1%;
	margin-bottom: 1%;
	border: solid;
	object-fit: cover;
	aspect-ratio:1
}

footer {
	text-align: center;
}

/* Small devices and below */
@media only screen and (max-width: 768px) {
	img {
		width: 45%
	}
}

/* Medium devices and above */
@media only screen and (min-width: 768px) {
	img {
		width: 20%
	}
}