body {
	background-color: #ffe7f8;
	font: 1.2em monospace;
	padding-left: 2em;
	padding-right: 2em;
}

header {
	background-color: white;
	text-align: center;
	border: solid;
}

header a {
	color: black;
	text-decoration: none;
}

nav a {
	border: solid;
	padding: 1em;
	display: inline-block;
}

h1 {
	text-align: center;
}

a {
	color: blue;
}

footer {
	text-align: center;
}