body {
	background-color: #ffe7f8;
	font: 1.2em monospace;
	padding-left: 2em;
	padding-right: 2em;
}

header {
	background-color: white;
	text-align: center;
	border: solid;
	padding-bottom: 1em;
}

header a {
	color: black;
	text-decoration: none;
}

nav {
	padding-top: 1em;
}

nav a {
	border: solid;
	padding: 1em;
}

footer {
	text-align: center;
}